/* colors */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");

:root {
  --font-main: "Noto Sans JP", sans-serif;
  --dark-blue: #0a0428;
  --gradiant-light-blue: linear-gradient(to right, #26d0ce, #1a2980);
}

* {
  font-family: var(--font-main);
}

.margin-top-big {
  margin-top: 50px;
}
